<div class="sap-tab" id="form">
    <h4>Please Check the order once again , Once order submited it can't be edited. Click Back to start over again.</h4>
    <div class="tab-for contentForm">
        <p><span>Pills: </span><span id="dataPills" class="infoProduct"></span></p>
        <p><span>Mg: </span><span id="dataMg" class="infoProduct"></span></p>
        <p><span>Shipping: </span><span id="dataShipping" class="infoProduct"></span></p>
        <p><span>ProductName: </span><span id="dataProduct" class="infoProduct"></span></p>
        <p><span>Price: </span><span id="dataPrice" class="infoProduct"></span></p>
        <p><span>First Name: </span><span id="dataName" class="infoProduct"></span></p>
        <p><span>Middle Name: </span><span id="dataMiddleName" class="infoProduct"></span></p>
        <p><span>Last Name: </span><span id="dataLastName" class="infoProduct"></span></p>
        <p><span>Phone Number: </span><span id="dataPhn" class="infoProduct"></span></p>
        <p><span>Email: </span><span id="email" class="infoProduct"></span></p>
        <p><span>Street Name: </span><span id="dataStreet" class="infoProduct"></span></p>
        <p><span>City: </span><span id="dataCity" class="infoProduct"></span></p>
        <p><span>Zip code: </span><span id="dataZip" class="infoProduct"></span></p>
        <p><span>State: </span><span id="dataState" class="infoProduct"></span></p>
        <p><span>Country: </span><span id="dataCountry" class="infoProduct"></span></p>
        <p><span>Payment Type: </span><span id="dataPaymentType" class="infoProduct"></span></p>
        <p><span>Paypal Email: </span><span id="datapaypalEmail" class="infoProduct"></span></p>
        <p><span>Card Holder Name: </span><span id="dataCCName" class="infoProduct"></span></p>
        <p><span>Card Number: </span><span id="dataCCNum" class="infoProduct"></span></p>
        <p><span>CVV: </span><span id="dataCVV" class="infoProduct"></span></p>
        <p><span>Expiry: </span><span id="dataExpiry" class="infoProduct"></span></p>
        <p><span>Billing Street Name: </span><span id="dataBillingStreetName" class="infoProduct"></span></p>
        <p><span>Billing City: </span><span id="dataBillingCity" class="infoProduct"></span></p>
        <p><span>Billing zip code: </span><span id="dataBillingZip" class="infoProduct"></span></p>
        <p><span>Billing State: </span><span id="dataBillingState" class="infoProduct"></span></p>
        <p><span>Billing Country: </span><span id="dataBillingCountry" class="infoProduct"></span></p>
        <p><span>Coin Name: </span><span id="dataCoinName" class="infoProduct"></span></p>
    </div>
    <div class="sap_tabs"></div>
    <div class="formNavigation">
        <button id="btnBack" class="btn btn-danger">Back</button>
        <button id="btnNext">Next</button>
        <button id="sub" class="btn btn-info">Submit</button>
    </div>
</div>